@import "null.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,500italic,700,900&display=swap");

@font-face {
    font-family: "futura";
    src: url("../fonts/futura-normal.woff")format("woff"), url("../fonts/futura-normal.woff2")format("w0ff2");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #5A5A5A;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1138px;
    /* 1108+15+15=1138*/
    margin: 0 auto;
    padding: 0 15px;
}

//ПК
@media (max-width:1138px) {
    [class*="__container"] {
        max-width: 970px;

    }
}

// планшет
@media (max-width:991.98px) {
    [class*="__container"] {
        max-width: 750px;

    }

    .burger::after {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background: url("../img/header/menu.svg")0 0/50px no-repeat;
        position: relative;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .header {
        position: relative;
        top: 0;
        left: 0;
        // .header__menu

        &__menu {
            &:hover .menu__list {
                transform: translate(0%, 0%);
            }
        }
    }

    .menu {

        // .menu__list
        &__list {
            transform: translate(0%, -200%);
            position: absolute;
            top: 0;
            right: 0;
            transition: all 2s ease 0s;
        }

        // .menu__item



        .button {

            &:not(:last-child) {
                margin: 0px 40px;
            }



            &_arrow {}
        }
    }
}

// mobil
@media (max-width:767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 0 10px;

    }

    .header {

        // .header__logo

        &__logo {}
    }

    .logo {
        &::before {
            content: "";
            display: inline-flex;
            background: url("../img/header/image\ 7_cut-photo.ru.png")0 0 no-repeat;
            width: 64px;
            height: 64px;
            position: relative;
            top: 10px;
            left: 0;
            cursor: pointer;
        }

        // .logo__icon

        &__icon {
            display: none;
        }


    }


}



.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    // .header__container
    @media (max-width:991.98px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background: #f8f8f854;
    }

    &__container {
        display: flex;
        min-height: 114px;
        align-items: center;


    }

}


.header__logo {
    flex: 1 1 auto;
}

.logo {
    display: inline-block;

    // .logo__icon
    &:not(:last-child) {
        margin: 0px 10px 0px 0px;
        /*отступ безоп*/
    }

    &__icon {
        max-width: 100%;
    }

}

.menu {
    display: flex;

    // .menu__list

    &__list {
        display: flex;
        align-items: center;


    }

    // .menu__item

    &__item {
        margin: 0px 40px 0px 0px;

        /*отступ для li дасть возможность безоопасного отст*/
        & a {
            font-family: 'Futura PT';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.3;
            color: #00293F;
            transition: all 0.5s ease 0s;
        }

        :hover {
            color: #175da8;
        }
    }
}



.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    color: #FFFFFF;
    background: #70C851;
    border-radius: 3px;
    padding: 13px 35px;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    transition: background-color 0.5s ease 0s;
    box-shadow: 6px 7px 13px 3px rgba(34, 60, 80, 0.2);
    position: relative;
    top: 0;
    left: 0;

    &:hover {
        background-color: #00293F;
        box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
        top: 2px;
    }

    @media (max-width:425px) {

        &.button_arrow {
            padding: 13px 40px 13px 25px;
            font-size: 12px;

            &:not(:last-child) {
                margin: 0 20px;
            }
        }

        &.button_arrow::after {
            background: url("../img/header/arrow.svg")0 0/12px no-repeat;
            height: 12px;
            width: 12px;
            content: "";
            display: inline-flex;
            position: absolute;
            top: 15px;
            right: 18px;

        }

    }

}

.button_arrow {
    padding: 13px 46px 13px 31px;

}

.button_arrow::after {
    background: url("../img/header/arrow.svg")0 0/16px no-repeat;
    height: 16px;
    width: 16px;
    content: "";
    display: inline-flex;
    position: absolute;
    top: 15px;
    right: 18px;

}

.main {
    flex: 1 1 auto;
}

/*========================our-serviges=====================================*/
.block-mobil {
    padding: 202px 0;

    @media (max-width:767.98px) {
        padding: 140px 0 60px 0;


    }
}



.mobil {

    // .mobil__container

    &__container {
        font-family: 'Poppins';
        color: #182C51;
        font-size: 40px;
        line-height: 1.5;


    }

    // .mobil__title

    &__title {

        font-weight: 800;

    }

    // .mobil__text

    &__text {
        font-weight: 400;

        &:not(:last-child) {
            margin: 0px 0px 40px 0px;
        }
    }

    @media (max-width:767.98px) {
        &__container {
            font-size: 35px;
            line-height: 1.5;


        }


    }

    @media (max-width:425.98px) {
        &__title {
            font-size: 27px;
        }

        &__text {
            font-size: 20px;

            &:not(:last-child) {
                margin: 0px 0px 20px 0px;
            }
        }

    }

}

/*================================================================================*/
.block-info {
    padding: 68px 0 83px 0;
    background: #F8F8F8;

    // .block-info__contaner
    @media (max-width:425px) {

        padding: 38px 0 43px 0;


    }

    &__contaner {}

    // .block-info__image

    &__image {
        flex: 1 1 50%;
        min-width: 350px;
        padding: 0 30px;

        &:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }

        @media (max-width:991.98px) {
            flex: 1 1 auto;
            min-width: none;
            padding: 0 20px;
        }
    }

    .block-info__content {
        display: flex;
        flex-wrap: wrap;
        //row-gap: 30px;
        margin: 0px -30px;

        @media (max-width:991.98px) {
            margin: 0px -20px;
        }
    }

    // .block-info__picture

    &__picture {
        width: 100%;


    }

    // .block-info__text

    &__text {
        flex: 1 1 50%;
        min-width: 350px;
        padding: 0 30px;

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;

            &:not(:last-child) {
                margin: 0px 0px 20px 0px;
            }
        }

        @media (max-width:991.98px) {
            flex: 1 1 auto;
            min-width: none;
            padding: 0 20px;
        }
    }

    // .block-info__decor

    &__decor {
        font-weight: 500;
        font-style: italic;
        position: relative;
        top: 0;
        left: 0;

        &:not(:last-child) {
            padding: 0 0 0 20px;
        }

        &::after {
            content: "";
            display: flex;
            height: 75px;
            width: 5px;
            background: #70C851;
            position: absolute;
            top: 0;
            left: 0;
        }

        @media (max-width:433.98px) {
            &::after {
                content: "";
                display: flex;
                height: 118px;
                width: 5px;
                background: #70C851;
                position: absolute;
                top: 6px;
                left: 0;
            }
        }

    }
}

/*===============================================================block-item=========================*/
.items {
    padding: 87px 0;

    @media (max-width:433px) {
        padding: 30px 0;
    }

    // .items__item
    /* &:not(:last-child) {
        margin: 0 0 147px 0;
    }
*/
    &__item {}
}

.item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    // .item__content

    &__content {
        flex: 1 1 50%;
        padding: 0 30px;
        min-width: 350px;

        &:not(:last-child) {
            margin: 0px 0px 37px 0px;
        }

    }

    // .item__title

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;

        &:not(:last-child) {
            margin: 0px 0px 37px 0px;
        }
    }

    // .item__image

    &__image {
        flex: 1 1 50%;
        padding: 0 30px;
        min-width: 350px;

        &:not(:last-child) {
            margin: 0px 0px 20px 0px;
        }
    }

    // .item__icon

    &__icon {
        width: 100%;
    }
}